.color3b97ff {
    color: #3b97ff !important;
}

.color39f {
    color: #39f !important;
}

.selected {
    color: #fff !important;
    background-color: #3b97ff !important;
}

.titleBlue {
    background-color: #fff !important;
    color: #3b97ff !important;
}